.cartcontrol
  font-size: 0
  .cart-decrease
    display: inline-block
    padding: 6px
    .inner
      display: inline-block
      line-height: 24px
      font-size: 24px
      color: rgb(0, 160, 220)
      transition: all 0.4s linear
    &.v-enter-active, &.v-leave-active
      transition: all 0.4s linear
    &.v-enter, &.v-leave-active   //刚进入和离开后的状态
      opacity: 0
      transform: translateX(24px)
      .inner1
        transform: rotate(180deg)
  .cart-count
    display: inline-block
    vertical-align: top
    width: 12px
    padding-top: 6px
    line-height: 24px
    text-align: center
    font-size: 10px
    color: rgb(147, 153, 159)
  .cart-add
    display: inline-block
    padding: 6px
    line-height: 24px
    font-size: 24px
    color: rgb(0, 160, 220)
